.navbar-link {
  color: inherit;
  text-decoration: none;
}

.job-card {
  width: 100%;
  background-color: #272727;
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 20px;
}

.job-card-company-info {
  width: 100%;
  display: flex;
  margin-bottom: 24px;
}

.job-card-company-logo {
  width: 50px;
  margin-right: 15px;
  align-self: flex-start;
}

.job-card-title {
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0px 0px 10px 0px;
  width: 100%;
}

.job-card-rating {
  color: #fff;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin: 0px;
  margin-left: 2px;
  display: inline;
  position: relative;
  bottom: 1px;
}

.job-card-details-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.job-card-location-type {
  display: flex;
  align-items: center;
}

.job-card-location {
  color: #fff;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin: 0px 15px 0px 8px;
}

.job-card-type {
  color: #fff;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  margin: 0px 15px 0px 8px;
}

.job-card-salary {
  color: #fff;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin: 0px;
}

.job-card-divider {
  border: 0;
  height: 1px;
  background: #fff;
  margin: 10px 0;
}

.job-card-description-title {
  color: #fff;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin: 14px 0px 12px 0px;
}

.job-card-description {
  color: #fff;
  font-size: 13px;
  font-family: Roboto, sans-serif;
  word-spacing: 2px;
  line-height: 1.5;
  margin: 0px 0px 10px 0px;
}
