.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-sm-bg.png');
  background-size: cover;
}

@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  }
}

.home-content {
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .home-content {
    padding-top: 50px;
  }
}

.home-title {
  font-size: 34px;
  max-width: 500px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .home-title {
    font-size: 60px;
    margin-bottom: 30px;
  }
}

.home-description {
  font-size: 16px;
  max-width: 500px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #fff;
  line-height: 1.6;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .home-description {
    font-size: 18px;
  }
}

.link {
  text-decoration: inherit;
  color: inherit;
}

.home-find-jobs-button {
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #6163ee;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 90px;
  height: 35px;
}

@media (min-width: 768px) {
  .home-find-jobs-button {
    width: 110px;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
  }
}
